[submodule "Python/Tensorflow/Python/Tensorflow/models"]
	path = Python/Tensorflow/Python/Tensorflow/models
	url = https://github.com/donddog/models.git
[submodule "Python/Tensorflow/TensorflowSubmodule"]
	path = Python/Tensorflow/TensorflowSubmodule
	url = https://github.com/donddog/models.git
